Package: minitoring
Version: 0.1.3
Maintainer: kristuff <kristuff@kristuff.fr>
Architecture: all
Depends: apache2, php7.3
Description: Mini monitoring web application and client for Gnu/linux server.
