Package: minitoring
Version: 0.1.17
Maintainer: kristuff <kristuff@kristuff.fr>
Architecture: all
Depends: apache2, php, php-sqlite3
Description: Mini monitoring web-based app for Gnu/linux server
Priority: optional
Section: utils
