
/* action bar */
ul.tool-bar {
    display:block;

    li {
        list-style:none;
        display:block;

        &[data-select-state='off'] ~ li[data-select-visibility='select'] {display:none;}
        &[data-select-state='on'] ~  li[data-select-visibility='select'] {display:none;}
        &[data-select-state='on'][data-items-selected='true'] ~  li[data-select-visibility='select'] {display:inline-block;}
    }

    @media only screen and (min-width:768px){
        
        padding-left:0;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
       
        li {
            display:inline-block;
            padding:0;
        
            a  {
                display:inline-block;
                margin:auto 0;
                padding:8px 10px
            }
        }
    }
}
