

// user in header 
#current-user {
    float: right;
    display: flex;
    align-items: center;
    padding: 0 10px;
    height: 55px;
    max-height: 55px;

    &:hover {
        background-color: rgba(0,0,0,0.1);
    }
    
    img.avatar {
        width: 25px;
        height: 25px;
    }

    .user-name {
        line-height: 1.2;
        display: none;
    }    
    .user-email {
        display: none;
        font-size: 75%;
        line-height: 1.1;
    }    

}

@media only screen and (min-width:768px)  {
    #current-user {
       // display: flex;

        .user-name {
            display: block;
        }  
        .user-email {
            display: block;
        }  

        img.avatar {
            float: left;
            margin-right: 6px; 
        }
    
    

    }
}

/* theme - dark */    
[data-theme="dark"] {
    #current-user {

        &:hover {
            background-color: rgba(255,255,255,0.05);
        }
    }
}
