
.dashboard .block {

    //
    padding: 10px;

    @media only screen and (min-width:768px)  {
        padding: 15px;
    }
    @media only screen and (min-width:1024px)  {
        padding: 20px;
    }

    .content {
        min-height: 160px;

        .main {
            font-size: 60px;
            padding-top: 10px;
        }

    }
}


