
html,
body,
.view,
#main-container,
.subpanel {
    height: 100%!important;
}

.footer {
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
}

.main-content {
    height: calc(100% - 55px); // 55px header 
}


// remove padding
.side-menu ~ .main-content {
    padding: 0;
}
@media only screen and (min-width:768px){
    .side-menu ~ .main-content {
        padding: 0;
    }
}

.view,
.subpanel {
    display: none;
    overflow-y: auto;
    padding: 10px 8px;
   // padding-top: 0;
}
.view.active, 
.subpanel.open {
    display:block;
} 

@media only screen and (min-width:768px)  {
    .view,
    .subpanel {
        padding: 10px 15px;
    }
}

// reduce anim time..
.anim-scale-increase { animation: anim-scale-increase 0.35s 0.3s both; }

// fix padding
@media only screen and (min-width:768px){
    //    .side-menu ~ .main-content {padding:0 10px 10px 10px;} 
    .side-menu ~ .main-header {padding-left:10px;} 
    .side-menu ~ .main-header .back-trigger {margin-left:-10px;}
}


form {
    border: none;
}





@media only screen and (min-width:768px)  {
    .side-menu ~ .main-header .back-trigger.active {display: inline-block;}
    .side-menu ~ .main-header .back-trigger.active ~ .side-menu-trigger {display: none;}
}

.back-trigger {display: none;}
.back-trigger.active {display: block;}
.back-trigger.active ~ .side-menu-trigger {display: none;}


.main-header .header-title {
     font-size: 2.6rem;
}

