table#packages-table {
  
    font-size: 1.45rem;

    td {
        vertical-align: top;
    }

    tr.group-row{
        cursor: pointer;
    }

    th.group {
        width: 26px;
    }

    tr:not(.group-row).hidden {
        display: none;
    }

    tr.group-row.expanded td a.toggle i {
        cursor: pointer;
        margin-right: 3px;

        &:after {
            // content: '\f068'; // fa-minus
            // content: '\f0d7'; // fa-fa-caret-down
            content: '\f078'; // fa-chevron-down
        }
    }

    tr.group-row:not(.expanded) td a.toggle i {
        cursor: pointer;
        &:after {
            // content: '\f067'; // fa-plus
            // content: '\f0da'; // fa-fa-caret-right
            content: '\f054'; // fa-chevron-right
        }
    }

    td[colspan] {
        &::before {
            content: "";
            width: 0;
        }
    }

    @media only screen and (max-width:767px){
        td[data-column="Group"] {
            display: none;
        }
    }

    @media only screen and (min-width:768px){

        // fixed header
        th {
            position: sticky;
            top:-10px; // padding 
        }

    }

}