
table tr  {
  
    @media (min-width: 768px) {

        .row-actions {

            &.visible-hover {
                visibility: hidden;
            }

            a.row-button {
                // width: 40px;
                display:inline-block;
                text-align:center;
                width: 40px;
                height: 40px;
                line-height: 40px;
                cursor:pointer;
        
                &:hover {
                    background-color: rgba(0,0,0,0.1);
                }
                
                .action-title {
                    display:none;
                }
            }
        }
        
        &:hover .row-actions.visible-hover {
            visibility: visible;
        }
    }
}
