tr.table-loader {
    border: none!important;
    
    td {
        border: none!important;
        padding-top: 35px!important;
        text-align: center !important;
        padding-bottom: 35px!important;
    }

}

.loader {
    padding-top: 40px;
    text-align: center;

}